{
  "env": {
    "es6": true,
    "node": true
  },
  "extends": ["standard", "prettier"],
  "rules": {
    "no-console": "off",
    "indent": ["error", 2],
    "linebreak-style": ["error", "unix"],
    "quotes": ["error", "single"],
    "semi": ["error", "always"]
  }
}
